    <div class="card">
        <div class="img-wrapper">
          <img *ngIf="property.Image" src="assets/images/{{property.Image}}.jpg" class="card-img-top" alt="House image" >
          <img *ngIf="!property.Image" src="assets/images/house_default.jpg" class="card-img-top" alt="House image" >
          <ul class="list-inline text-center member-icons">
            <li class="list-inline-item">
              <button class="btn btn-primary" routerLink="/property-detail/{{property.Id}}">Details</button>
            </li>
            <li class="list-inline-item">
              <button class="btn btn-primary">Contact</button>
            </li>
          </ul>
        </div>
      <div class="card-body p-2" style="color: black">
          in {{property.Name}}
          <span *ngIf="property.Name">,</span>
          {{property.city}}
        <h3>{{property.PType}}</h3>
        <h6 style="margin-top: 2px;">
            <span *ngIf="property.RTM == 1">  Ready to Move</span>
            <span *ngIf="property.RTM == 2">  Posession: {{property.AvailableFrom | date}}</span>
            </h6>
        <h6>Price: <span>{{property.Price}} USD.</span> |
              Area:  <span>{{property.BuiltArea}} Sq Ft </span> </h6>
      </div>
    </div>